* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* margin:auto; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url(../img/blob-scene-haikei\ \(1\).svg);
    background-size: 100vw;
    background-position: center;
    font-family: helvetica;
    font-size: 1.6em;
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    /* transform-style: preserve-3d; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-bottom: 4px solid #147283;
    padding: 0rem 0;
    color: white;
    font-family: helvetica;
    background: linear-gradient(to right, #03788e, #01a3a4);
}

header nav .menu {
    display: flex;
    gap:2.2rem;
}

header .navigation {
    display: flex;
    justify-content: center;
    /* flex-basis: 60%; */
}


header .header__logo {
    flex-basis: 40%;
}




header .header__img {
    width: 70%;
    max-width: 100px;
    border: rgba(0, 0, 0, 0);
    border-radius: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 15%;
    margin-right: 15%;
}

header .header__img:hover {
    opacity: 0.9;
    max-width: 100px;
    transform:scale(1.01,1.01);
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.hamburger {
    display: none;
}

#hamburger {
    display: none;
    position: absolute;
    bottom: 75px;
    width: 32px;
    height: 32px;
    opacity: 0;
}


.menu .menu__link {
    font-size: 1,8em;
    color: #fff;
    text-decoration: none;
    padding:10px 10px;
    background-color: #03788e 0.8;
    border:0px solid #0db9d8 0.0;
    /* border-radius: 5px; */
    padding: 1rem 1.2rem;
}

.menu .menu__link:hover {
    /* background-color:#fff ; */
    color:#026C78;
    transition: 0.5s;
    /* box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); */
}


/* MAIN */
/* #mainGallery{
    max-width: 1200px;
    margin: 0 auto;
} */


  /* This changes all the animations globally */
.textoImg{
    font-family: helvetica;
    font-style: bold;
    font-size: 4em;
    color: white;
    text-align: center;
    padding-top: 25rem;
    margin-left: 47%;
    margin-right: 47%;
    text-shadow: 2px 2px 2px black;
}

/* GALERIA DE FOTOS */

#grilla {
    display: grid;
    grid-template-areas:
        "IMG1 IMG1 IMG1 IMG2 IMG2 IMG2"
        "IMG3 IMG3 IMG4 IMG4 IMG5 IMG5"
        "IMG6 IMG6 IMG6 IMG6 IMG5 IMG5";
    grid-template-rows:repeat(12 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    gap: 1.5rem;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

section#IMG1{
    grid-area: IMG1;
}
section#IMG2{
    grid-area: IMG2;
}
section#IMG3{
    grid-area: IMG3;
}
section#IMG4{
    grid-area: IMG4;
}
section#IMG5{
    grid-area: IMG5;
}
section#IMG6{
    grid-area: IMG6;
}


.quienesSomos{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 80vw;
    border: #026C78;
    border-radius: 15px;
    box-shadow: 2px 4px 4px 2px rgba(0.3, 0.3, 0.3, 0.3);

}

.quienesSomosSection1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 40vw;
    padding: 2rem;
}


.quienesSomos .quienesSomos__img{
    width: 40vw;
    padding: 2rem;
    border-radius: 15px;
}

.quienesSomos .quienesSomos__title{
    font-size: 3em;
    color: white;
    font-family: helvetica;
    background: linear-gradient(to right, #03788e, #01a3a4);
    border-radius: 5px;
    width: 100%;
}

.quienesSomos .quienesSomos__text{
    font-size: 1.1em;
    color: #0099a0;
    font-family: helvetica;
    padding: 3rem;
    text-align: justify;
}

.quienesSomos .quienesSomos__button{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    background-color: #0099a0;
    border-radius: 5px;
    font-family: helvetica;
    padding: 1rem;
    margin-left: 40%;
    margin-right: 40%;
}

.quienesSomos .quienesSomos__button:hover{
    text-decoration: none;
    font-size: 1.1em;
    color: #0099a0;
    background-color: white;
    border:1px;
    border-color: #0099a0;
    border-radius: 5px;
    font-family: helvetica;
    padding: 1rem;
    text-align: justify;
}

/* BLUR + TEXTO SOBRE IMAGENES DE GALERIA */

.textWithBlurredBg{
    position:relative;
    transition:.3s;
    margin:4px;
  }

  .textWithBlurredBg img{
    transition:.3s;

  }

  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);

  }

  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    align-self: center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }

  .textWithBlurredBg h2{
    top:50%
  }

  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }





/* PARALLAX */


.parallax1 {
    background: url(../img/edificio.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.parallax2 {
    background: url(../img/quienes_somos.jfif);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.parallax3 {
    background: url(../img/b1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.parallax4 {
    background: url(../img/b4.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.parallax5 {
    background: url(../img/b5.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 4px solid #147283;
    color: white;
    font-family: helvetica;
    background: linear-gradient(to right, #03788e, #01a3a4);
}

footer nav .menu {
    display: flex;
    gap:2.2rem;
}

footer .footerText {
    display: flex;
    justify-content: center;
    color: white;
}

footer .footer__img {
    max-width: 50px;
}


#h1titles {
    font-family: helvetica;
    font-size: 4em;
    /* color: #026C78; */
    background: -webkit-linear-gradient(#03788e,#01a3a4);
    -webkit-background-clip:text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    color: #03788e;
    text-align: center;
    padding: 5rem;
}


#imagen1 {
    width: 30%;
    border-radius: 20px;
}

#integrantes {
    width: 40%;
    border-radius: 10px;
}

p {
    color: #0099a0;
    font-family: helvetica;
}

a {
    color: #0099a0;
    font-family: helvetica;
}

table, th, td {
    width: 33%;
    border: 2px solid;
    color: #0099a0;
    font-family: helvetica;
    text-align: center;
}

#fotoEdificio {
    width: 100%;
    align-self: center;
}

article {
    color: #0099a0;
    font-family: helvetica;
}

/* footer {
    color: white;
    font-family: helvetica;
    background: linear-gradient(to right, #03788e, #01a3a4);
} */

.footerTexto {
    color: white;
    font-family: helvetica;
}


h5 {
    color:#026C78;
    text-align: center;
    font-size: 30px;
}

P {
    color:#026C78;
    text-align: center;
    font-size: 15px;
}

#cardId {
    margin-left: 10%;
    margin-right: 10%;
    position: center;
}

#cardText {
    font-size: 1.1em;
    color: #0099a0;
    font-family: helvetica;
    padding: 3rem;
    text-align: justify;
}

#cardTitle {
    font-size: 2.1em;
    color: #0099a0;
    font-family: helvetica;
    padding: 1rem;
    text-align: center;
}


#tableId {
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    width: 80%;
    color: #0099a0;
    margin-left: 10%;
    margin-right: 10%;
    position: center;
}

@media screen and (max-width: 480px){

    body {
        background-image: url(../img/blob-scene-haikei\ \(2\).svg);
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 4px solid #147283;
        padding: 0rem 0;
        color: white;
        font-family: helvetica;
        background: linear-gradient(to right, #03788e, #01a3a4);
        width: 100vw;
    }
 
    .hamburger {
        display: block;
    }
    #hamburger {
        display: block;
        position: absolute;
        top: 95px;
        width: 32px;
        height: 32px;
        opacity: 0;
    }
    
    #hamburger:checked ~ .navigation {
        display: block;
    }

    #hamburger:checked ~ nav .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    header .navigation {
        display: none;
    }

    #grilla {
        display: flex;
        flex-direction: column;
        /* grid-template-areas:
            "IMG1 IMG1 IMG1 IMG2 IMG2 IMG2"
            "IMG3 IMG3 IMG4 IMG4 IMG5 IMG5"
            "IMG6 IMG6 IMG6 IMG6 IMG5 IMG5";
        grid-template-rows:repeat(12 1fr);
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
        gap: 1.5rem;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
    }
    /* header nav .menu {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:2.2rem;
    } */

    .quienesSomos{
        display: flex;
        /* flex-wrap:nowrap; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: white;
        margin-left: auto ;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 80vw;
        border: #026C78;
        border-radius: 15px;
        box-shadow: 2px 4px 4px 2px rgba(0.3, 0.3, 0.3, 0.3);

    }

    .quienesSomosSection1 {
        /* box-sizing:border-box; */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        width: 90vw;
        padding: 0rem;
    }


    .quienesSomos .quienesSomos__img{
        display: none;
        width: 90vw;
        padding: 2rem;
        border-radius: 15px;
    }

    .quienesSomos .quienesSomos__title{
        font-size: 3em;
        color: white;
        font-family: helvetica;
        background: linear-gradient(to right, #03788e, #01a3a4);
        text-align: center;
        border-radius: 5px;
        width: 80%;
        margin-top: 2rem;
    }

    .quienesSomos .quienesSomos__text{
        font-size: 1.1em;
        width: 80%;
        color: #0099a0;
        font-family: helvetica;
        padding: 0rem;
        text-align: justify;
    }

    .quienesSomos .quienesSomos__button{
        text-decoration: none;
        font-size: 1em;
        color: white;
        background-color: #0099a0;
        border-radius: 5px;
        font-family: helvetica;
        padding: 0.5rem;
        align-self: center;
    }

    .parallax1 {
        background: url(../img/edificio.png);
        background-size: 100vw;
        height: 30%;
        align-items: center;
        background-repeat: no-repeat;
    }
    .parallax2 {
        background: url(../img/quienes_somos.jfif);
        background-size: 100vw;
        height: 30%;
        align-items: center;
        background-repeat: no-repeat;
    }

    .parallax3 {
        background: url(../img/b1.png);
        background-size: 100vw;
        height: 30%;
        align-items: center;
        background-repeat: no-repeat;
    }
    .parallax4 {
        background: url(../img/b4.png);
        background-size: 100vw;
        height: 30%;
        align-items: center;
        background-repeat: no-repeat;
    }
    .parallax5 {
        background: url(../img/b5.png);
        background-size: 100vw;
        height: 30%;
        align-items: center;
        background-repeat: no-repeat;
    }
}