ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    border-bottom: 4px solid #147283;
    padding: 0rem 0;
    color: white;
    font-family: helvetica;
    background: linear-gradient(to right, #03788e, #01a3a4);

    nav .menu {
        display: flex;
        gap:2.2rem;
    }
    
    .navigation {
        display: flex;
        justify-content: center;
        /* flex-basis: 60%; */
    }
    
    
    .header__logo {
        flex-basis: 40%;
    }
    
    
    
    
    .header__img {
        width: 70%;
        max-width: 100px;
        border: rgba(0, 0, 0, 0);
        border-radius: 100%;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .header__img:hover {
        opacity: 0.9;
        max-width: 100px;
        transform:scale(1.01,1.01);
        transition: 0.3s;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
}
