@mixin medidas ($widht, $height){
    width: $widht;
    height: $height;
}
    

// @mixin headermv (){
//     @media screen and (max-device-width: 480px){
//         header{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             border-bottom: 4px solid $color-principal;
//             padding: 0rem 0;
//             color: $color-secundario;
//             font-family: helvetica;
//             background: $gradient;
//             width: 100vw;
    
//             .navigation {
//                 display: none;
//             }
//         }
//     }

//     @media screen and (min-device-width: 481px) and (max-device-width: 850px){
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         border-bottom: 4px solid $color-principal;
//         padding: 0rem 0;
//         color: $color-secundario;
//         font-family: helvetica;
//         background: $gradient;
//         width: 100vw;

//         .navigation {
//             display: block;
//             margin-top: 20px;
//         }
//     }
// }



@mixin footermv(){
    @media screen and (max-device-width: 480px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background: linear-gradient(to right, #03788e, #01a3a4);

    }
    @media screen and (min-device-width: 481px) and (max-device-width: 850px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background: linear-gradient(to right, #03788e, #01a3a4);

    }
}
